fastapi
uvicorn
python-multipart
jinja2
itsdangerous
torch==2.3.1
torchvision==0.18.1
opencv-python
numpy<2
Pillow
matplotlib
google-generativeai
reportlab

tensorflow
librosa
moviepy
soundfile
python-dotenv
